<c-row>
    <c-col sm="6" xl="3">
        <c-widget-stat-a class="mb-4" color="primary" title="Users">
            <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
                26K
                <span class="fs-6 fw-normal">
                    (-12.4% <svg cIcon name="cilArrowBottom"></svg>)
                </span>
            </ng-template>
            <ng-template cTemplateId="widgetActionTemplate">
                <c-dropdown alignment="end" variant="btn-group">
                    <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
                        <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
                    </button>
                    <ul cDropdownMenu>
                        <li><a routerLink="./" cDropdownItem>Action</a></li>
                        <li><a routerLink="./" cDropdownItem>Another action</a></li>
                        <li><a routerLink="./" cDropdownItem>Something else here</a></li>
                        <li>
                            <hr cDropdownDivider>
                        </li>
                        <li>
                            <button cDropdownItem>Separated link</button>
                        </li>
                    </ul>
                </c-dropdown>
            </ng-template>
            <ng-template cTemplateId="widgetChartTemplate">
            </ng-template>
        </c-widget-stat-a>
    </c-col>
</c-row>